:root {
  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;
  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

body {
  padding: 5rem 5.5rem 3rem;
  background-color: var(--background-default);
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 2.5rem;
}

header p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-headline);
  text-transform: uppercase;
}

.img1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
  height: 41.25rem;
}

.img1 img {
  width: 100%;
  height: 100%;
  border-radius: 1.75rem;
  overflow: hidden;
}

.img1 .description {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  color: var(--text-secondary);
}
